body {
    background: linear-gradient(0.25turn, #639eb8, #b8834c);;
}

div.main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column nowrap;
}

div.playAs, div.infoBox, div.connectionStatus {
    text-align: center;
    background-color: #FFFFFF;
    width: 390px;
    padding: 10px;
    font-weight: bold;
    border: black double;
}

div.infoBox {
    font-size: x-large;
}